# LangSmith API Key
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2_pt_xxx"
LANGCHAIN_PROJECT="UAS-Valorant-AI-Coach"

# Nvidia API Key
NVIDIA_API_KEY="nvapi-xxx"
